<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>StockWatcher.html</welcome-file>
	</welcome-file-list>


	<!-- Servlets -->

	<!-- Configuración para el uso de peticiones RPC <servlet> <servlet-name>stockPriceServiceImpl</servlet-name> 
		<servlet-class>com.google.gwt.sample.stockwatcher.server.StockPriceServiceImpl</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>stockPriceServiceImpl</servlet-name> 
		<url-pattern>/stockwatcher/stockPrices</url-pattern> </servlet-mapping> -->

	<!-- Configuración para el uso de peticiones JSON <servlet> <servlet-name>jsonStockData</servlet-name> 
		<servlet-class>com.google.gwt.sample.stockwatcher.server.JsonStockData</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>jsonStockData</servlet-name> <url-pattern>/stockwatcher/stockPrices</url-pattern> 
		</servlet-mapping> -->

	<!-- Para el uso de peticiones Cross-Site no es necesario definir ningún 
		servlet, puesto que las peticiones se realizan a servidores remotos y no 
		es necesario crear un servlet en el servidor para que sea en encargado de 
		sumunistrar los valores de las acciones, puesto que lo hace el servidor remoto 
		de forma automática -->

</web-app>
